{% load static %}
<div class="col-lg-3 col-6">

    <div class="small-box bg-white">
        <div class="inner">
            <h4 class="text-center mb-3">{{ menu.name }}</h4>

            <ul id="{{ menu.id }}" class="nav nav-pills nav-sidebar flex-column"  data-widget="treeview"
                data-accordion="false">
                  {% if menu.items.count == 0 %}
                        <p class="text-center">Меню пустое ...</p>
                  {% endif %} 
            
                  {% for item in menu_item_list %}
                      {%include "core/menu_item.html" %}
                  {% endfor %}
            </ul>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
    </div>
</div>