{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Страницы
{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-3 pt-3 ">
                    <h1 class="m-0 text-center">Список Страниц</h1>
            </div>
        </div>
    </div>
    
    
    <section class="content">
        <div class="container-fluid">
    
            <div class="row">
                {% for page in pages %}
                    <div class="col-lg-3 col-6">
                        <a href="{% url 'read_page' page.id %}" style="text-decoration: none;">
                            <div class="small-box bg-gray p-5">
                                <div class="inner">
                                    <h4 class="text-center">{{ page.name }}</h4>
                                    <div class="icon">
                                        <i class="ion ion-bag"></i>
                                    </div>
                                </div>  
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
                    <ul class="pagination justify-content-center my-5">
                  {% if current_page.has_previous %}
                  <!-- 'First' and 'Previous' Buttons -->
                    <li class="page-item">
                      <a class="page-link" href="?page=1">|&lt; First</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ current_page.previous_page_number }}">&lt; Previous</a>
                    </li>
                  {% endif %}
                
                  <!-- Numbered Buttons -->
                  {% for page in paginator.page_range %}
                    {% if current_page.number == page %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page }}"><strong><u>{{ page }}</u></strong></a>
                      </li>
                    {% elif page > current_page.number|add:'-3' and page < current_page.number|add:'3' %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                
                  <!-- 'Next' and 'Last' Buttons -->
                  {% if current_page.has_next %}
                    <li class="page-item">
                      <a class="page-link" 
                        href="?page={{ current_page.next_page_number }}">Next &gt;</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ current_page.paginator.num_pages }}">Last &gt;|</a>
                    </li>
                  {% endif %}
                </ul>
        </div>
    </section>
{% endblock %}