{% extends 'core/base.html' %}
{% load static %}
{% load drawing %}
{% block title %}
   {{ page.name }}
{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row  mb-3 pt-3 ">
                    <h1 class="m-0 text-center">{{ page.name }}</h1>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                {% for menu in page.menus.all %}
                   {% draw_menu menu %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}

    <script>
          let currentUrl = window.location.pathname;
          $(`a[href="${currentUrl}"]`).each(function(index, element) {
                $(this).css('color', '#3daee9');
                let parent_lis = $(this).parents('li.nav-item')
                let parent_uls = $(this).parents('ul.nav-treeview')
                parent_lis.each(function(index, element) {
                   // Все, что над выделенным пунктом - развернуто
                   $(this).addClass('menu-is-opening menu-open')

                });
                parent_uls.each(function(index, element) {
                   // Все, что над выделенным пунктом - развернуто
                   $(this).show()

                });
                // Первый уровень вложенности под выделенным пунктом тоже развернут
                $(this).next().show()
                
          });
    </script>
{% endblock %}
